.formWrapper{
    margin: auto;
}

.noteButton{
    border: none;
    margin: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 8px 24px;
    font-size: 1.3em;
    font-family: 'Droid Sans', sans-serif;
    background-color: #019875;
    color: #fff;
    transition: 0.2s ease-out;
}

.noteButton:hover{
    background-color: #02BA85;
    color: #fff;
    transition: 0.2s ease-out;
    cursor: pointer;
}

.noteInput{
    width: 800px;
    min-width: 800px;
    font-size: 1.3em;
    padding-left: 20px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: 'Droid Sans', sans-serif;
    background-color: rgba(34,49,63,0.8);
    color: #fff;
    transition: 0.2s ease-out;
}

.noteInput:focus{
    background-color: #E4F1FE;
    color: #111;
    transition: 0.2s ease-in;
}